{%extends 'home/base.html'%}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        {%block body%}
        <div class="row">
            <div class="col-md-3 offset-md-2">
                <h3>{{prof.user.username}}</h3>
                <h5>{{prof.job}}</h5>
                <h6>{{prof.desc}}</h6>
                <h6>{{prof.rate}}</h6>
            </div>
            <div class="col-md-2">
                <a href="/bookappointment/{{prof.user.username}}" class="btn btn-success">Book</a>
            </div>
        </div>
        {%endblock%}
    </body>
</html>